.body {
  font-family: "Fira Code", monospace;
}

/* This makes the dirty tab circle yellow */
.vs-dark
  .monaco-workbench
  > .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.dirty
  .close-editor-action {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Ccircle fill='%23ffc600' cx='8' cy='8' r='4'/%3E%3C/svg%3E")
    50% no-repeat;
}

.monaco-workbench > .part.editor > .content .editor-group-container {
  border-top: 1px solid #15232d !important;
}

.editor-group-container + .editor-group-container {
  border-left: 1px solid #15232d !important;
}

/*
  This puts a thin yellow border around the found items like Sublime did it
*/
/* .monaco-editor .findMatch,
.monaco-editor .selectionHighlight {
  border: 1px solid #ffc600;
  border-radius: 2px;
  background: transparent;
} */

/* This puts an inset shadow onto the minimap scrollbar and permanently shows it */
.monaco-editor .minimap .minimap-shadow-visible,
.monaco-editor .minimap .minimap-shadow-hidden {
  box-shadow: rgba(0, 0, 0, .4) -6px 0 6px -6px inset !important;
  /* taken from vanilla VS Code theme */
  position: absolute;
  left: -6px;
  width: 6px;
}

/* This accounts for larger font cutting off - bump up 3px */
.monaco-workbench>.activitybar>.content .monaco-action-bar .badge .badge-content {
  top: 17px !important;
}

/* Cursive font */
.mtk4 {
  font-family: Segoe Print;
  font-size: 1.1em;
}
